openapi: 3.1.0
info:
  title: Finnhub Company News Crypto API
  description: Free realtime APIs for stocks, forex, and cryptocurrency, plus company fundamentals, economic data, and alternative data. All endpoints require an API token passed via the `token` query parameter (or `X-Finnhub-Token` header).
  version: '1.0'
  contact:
    name: Finnhub
    url: https://finnhub.io/docs/api
servers:
- url: https://finnhub.io/api/v1
  description: Production
security:
- tokenQuery: []
- tokenHeader: []
tags:
- name: Crypto
paths:
  /crypto/exchange:
    get:
      summary: Supported crypto exchanges
      operationId: cryptoExchanges
      responses:
        '200':
          description: Exchange list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      tags:
      - Crypto
  /crypto/symbol:
    get:
      summary: Crypto symbols for an exchange
      operationId: cryptoSymbols
      parameters:
      - name: exchange
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Crypto symbols
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      tags:
      - Crypto
  /crypto/candle:
    get:
      summary: Crypto candles
      operationId: cryptoCandles
      parameters:
      - name: symbol
        in: query
        required: true
        schema:
          type: string
      - name: resolution
        in: query
        required: true
        schema:
          type: string
      - name: from
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: to
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Candle data
          content:
            application/json:
              schema:
                type: object
      tags:
      - Crypto
components:
  securitySchemes:
    tokenQuery:
      type: apiKey
      in: query
      name: token
    tokenHeader:
      type: apiKey
      in: header
      name: X-Finnhub-Token
