openapi: 3.1.0
info:
  title: Finnhub API
  description: >-
    Free realtime APIs for stocks, forex, and cryptocurrency, plus company
    fundamentals, economic data, and alternative data. All endpoints require an
    API token passed via the `token` query parameter (or `X-Finnhub-Token`
    header).
  version: "1.0"
  contact:
    name: Finnhub
    url: https://finnhub.io/docs/api
servers:
  - url: https://finnhub.io/api/v1
    description: Production
security:
  - tokenQuery: []
  - tokenHeader: []
paths:
  /search:
    get:
      summary: Symbol lookup
      operationId: symbolSearch
      parameters:
        - name: q
          in: query
          required: true
          description: Query text (symbol or company name)
          schema:
            type: string
        - name: exchange
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Matching securities
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  result:
                    type: array
                    items:
                      type: object
  /stock/symbol:
    get:
      summary: Stock symbols for an exchange
      operationId: stockSymbols
      parameters:
        - name: exchange
          in: query
          required: true
          schema:
            type: string
            example: US
        - name: mic
          in: query
          required: false
          schema:
            type: string
        - name: currency
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Symbol list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /quote:
    get:
      summary: Real-time quote
      operationId: quote
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: AAPL
      responses:
        "200":
          description: Quote payload (c, d, dp, h, l, o, pc, t)
          content:
            application/json:
              schema:
                type: object
  /stock/profile2:
    get:
      summary: Company profile (basic)
      operationId: companyProfile2
      parameters:
        - name: symbol
          in: query
          schema:
            type: string
        - name: isin
          in: query
          schema:
            type: string
        - name: cusip
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Company profile
          content:
            application/json:
              schema:
                type: object
  /company-news:
    get:
      summary: Company news
      operationId: companyNews
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: News items
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /news:
    get:
      summary: General market news
      operationId: marketNews
      parameters:
        - name: category
          in: query
          required: true
          schema:
            type: string
            enum: [general, forex, crypto, merger]
        - name: minId
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: News list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /stock/candle:
    get:
      summary: Stock candles (OHLCV)
      operationId: stockCandles
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
        - name: resolution
          in: query
          required: true
          schema:
            type: string
            example: D
        - name: from
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: to
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Candle data
          content:
            application/json:
              schema:
                type: object
  /stock/recommendation:
    get:
      summary: Analyst recommendation trends
      operationId: recommendationTrends
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Recommendation series
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /stock/peers:
    get:
      summary: Peer companies
      operationId: peers
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Peer symbols
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /forex/symbol:
    get:
      summary: Forex symbols for an exchange
      operationId: forexSymbols
      parameters:
        - name: exchange
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Forex symbols
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /forex/exchange:
    get:
      summary: Supported forex exchanges
      operationId: forexExchanges
      responses:
        "200":
          description: Exchange list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /forex/candle:
    get:
      summary: Forex candles
      operationId: forexCandles
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
        - name: resolution
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: to
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Candle data
          content:
            application/json:
              schema:
                type: object
  /crypto/exchange:
    get:
      summary: Supported crypto exchanges
      operationId: cryptoExchanges
      responses:
        "200":
          description: Exchange list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /crypto/symbol:
    get:
      summary: Crypto symbols for an exchange
      operationId: cryptoSymbols
      parameters:
        - name: exchange
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Crypto symbols
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /crypto/candle:
    get:
      summary: Crypto candles
      operationId: cryptoCandles
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
        - name: resolution
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: to
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Candle data
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    tokenQuery:
      type: apiKey
      in: query
      name: token
    tokenHeader:
      type: apiKey
      in: header
      name: X-Finnhub-Token
